<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dice Roll</title>
  </head>
  <body>
    <h4>Dice value: <%= diceRoll%></h4>
    <% if(diceRoll === 6) {%>
    <p>Dice roll again</p>
    <%}%> <%- include("includes/footer.ejs") %>
  </body>
</html>
